- provide(:title, "Edit User")
%body
  .header
    %h1 Update User
  .container
    %div
      = form_for(@user) do |f|
        = f.label :email
        = f.email_field :email
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        - if is_admin?
          = f.label :permission
          =f.select :permission, [["user", 1],["super user", 2],["admin", 3]]
        = f.submit "Save changes", class: "btn btn-primary"

