
.col-sm-8
  - @campaign.pcharacters.each do | character |
    .feed_item
      %div{:id => "character_#{character.id}"}
        %h4= character.name
        :javascript
          klass = #{character.dnd_class}
          id = #{character.id}
          callKlass(klass, id)
      =link_to_character_image(character)
      %em= character.user.screen_name
      
      %em=link_to_character_controls(character)


        